/* CDN Fonts */
@import url('https://hangeul.pstatic.net/hangeul_static/css/maru-buri.css');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.min.css');
@import url('https://fonts.cdnfonts.com/css/gloock-2');

/* CSS Variables */
:root {
  --font-ko-main: 'MaruBuri', sans-serif;
  --font-ko-sub: 'Pretendard', sans-serif;
  --font-en-main: 'Gloock', sans-serif;
  --color-primary: #F5F5F5;
  --color-secondary: #706964;
}